@import url('https://fonts.googleapis.com/css?family=Lato|Proza+Libre|Caveat');

:root {
    --hf-margin-x: 80px;
    --main-margin-x: 40px;
    --text-color: #D8F1FD; /* columbia blue */
    --text-color-emphasize: #3EBDF4; /* deep sky blue */
    --background-color: #00072D; /* oxford blue */
    --navbar-text-color: var(--text-color);
    --navbar-text-color-active: var(--text-color-emphasize);
    --navbar-text-color-hover: var(--background-color);
    --navbar-background-color-hover: var(--navbar-text-color);
    --btn-text-color: var(--background-color);
    --btn-background-color: var(--text-color);
    --btn-background-color-hover: var(--navbar-text-color);
}

body {
    padding: 0 0;
    font-family: Proza Libre, Georgia, Times;
    font-size: 16px;
    background-color: var(--background-color);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Proza Libre, Georgia, Times;
    font-weight: 700;
}

.emphasize {
    font-weight: bold;
    color: var(--text-color-emphasize);
}

/* Links */
a:link, a:visited {
    color: var(--text-color-emphasize);
}

/* Handwriting */
.handwriting {
    font-family: Caveat;
    font-size: 1.5em;
}

/* Cards */
.card {
    border-color: var(--background-color);
    background-color: var(--background-color);
}

/* Masthead */
.header {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 var(--hf-margin-x);
}
.footer {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 var(--hf-margin-x);
}

/* Navigation */
.navbar {
    padding: 0 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
}
.navbar .navbar-brand {
    color: var(--navbar-text-color);
}
.navbar .navbar-text {
    color: var(--navbar-text-color);
    font-weight: bold;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: var(--navbar-text-color);
}
.navbar .navbar-nav .nav-item .active {
    color: var(--navbar-text-color-active);
    font-weight: bold;
}
.navbar .navbar-nav .nav-item:focus .nav-link,
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: var(--navbar-text-color-hover);
    background: var(--navbar-background-color-hover);
    border-radius: 10px;
}

/* E-Mail */
.obfuscate {
    unicode-bidi: bidi-override;
    direction: rtl;
}

/* CV */
.cv {
    font-size: 16px;
    line-height: 1.25em;
}
.btn-custom {
    border-radius: 0.5rem;
    color: var(--btn-text-color);
    background-color: var(--btn-background-color);
    border-color: var(--btn-background-color);
}
.btn-custom:hover {
    color: var(--btn-text-color);
    background-color: var(--btn-background-color-hover);
    border-color: transparent;
}
.text-btn {
    color: var(--btn-text-color);
}

/* Contact */
.contact ul {
    list-style: none;
}

.home, .about, .cv, .projects, .contact, .error {
    margin: 0 var(--main-margin-x);
    border-radius: 25px;
    color: var(--text-color);
    padding: 20px 20px;
}

/* Contact */
iframe {
    font-family: Proza Libre, Georgia, Times;
    font-size: 16px;
}

/* Code */
pre.prettyprint {
    padding: 10px !important;
    margin: 40px;
    font-size: 12px;}

/* Font Awesome Icons */
.fa-icons {
    color: var(--navbar-text-color);
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
}

.step {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #4679BD;
    color: #FFF;
    float: left;
    text-align: center;
    font-size: 24px;
    padding-top: 5.5px;
    margin: 5px 15px 0 0;
    font-family: Lato, Helvetica, sans-serif;
}
