<div class="footer">
	<nav class="navbar navbar-expand-sm navbar-light">
		<span class="navbar-text">
			&copy; Meghan Thommes 2019
		</span>

		<ul class="navbar-nav navbar-right">
			<!-- Email -->
			<li class="nav-item">
				<a class="nav-link" href="mailto:meghan.thommes@gmail.com" target="_blank" class="fas fa-envelope-square fa-2x"></a>
			</li>
			<!-- LinkedIn -->
			<li class="nav-item">
				<a class="nav-link" href="https://www.linkedin.com/in/meghanthommes/" target="_blank" class="fab fa-linkedin fa-2x"></a>
			</li>
			<!-- GitHub -->
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/megthommes/" target="_blank" class="fab fa-github-square fa-2x"></a>
			</li>
			<!-- Twitter -->
			<li class="nav-item">
				<a class="nav-link" href="https://twitter.com/MegThommes/" target="_blank" class="fab fa-twitter-square fa-2x"></a>
			</li>
		</ul>
	</nav>	
</div> <!-- /footer -->