<div class="footer">
	<nav id="navbar-footer" class="navbar navbar-expand-sm navbar-light">
		<p class="navbar-text">&copy; Meghan Thommes 2019</p>

		<ul class="nav navbar-nav navbar-right">
			<!-- Email -->
			<li class="nav-item">
				<a class="nav-link" href="mailto:meghan.thommes@gmail.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
			</li>
			<!-- LinkedIn -->
			<li class="nav-item">
				<a class="nav-link" href="https://www.linkedin.com/in/meghanthommes/" target="_blank"><i class="fa fa-linkedin"></i></a>
			</li>
			<!-- GitHub -->
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/megthommes/" target="_blank"><i class="fa fa-github-square"></i></a>
			</li>
			<!-- Twitter -->
			<li class="nav-item">
				<a class="nav-link" href="https://twitter.com/MegThommes/" target="_blank"><i class="fa fa-twitter-square"></i></a>
			</li>
		</ul>
	</nav>	
</div> <!-- /footer -->
