<div class="header">
	<!-- horizontal navbar that becomes vertical on small screens -->
	<nav class="navbar navbar-expand-sm" id="navbar-header">
		<a class="navbar-brand handwriting" href="/" style="font-size:2em">Meghan Thommes</a>

		<ul class="navbar-nav">
			<!-- About Me -->
			<li class="nav-item">
				<a class="nav-link {{ page.about }}" href="/about-me">About Me</a>
			</li>
			<!-- Contact -->
			<li class="nav-item">
				<a class="nav-link {{ page.contact }}" href="/contact">Contact</a>
			</li>
			<!-- CV -->
			<li class="nav-item">
				<a class="nav-link {{ page.cv }}" href="/cv">CV</a>
			</li>
			<!-- Projects -->
			<li class="nav-item">
				<a class="nav-link {{ page.projects }}" href="/projects">Projects</a>
			</li>
		</ul>

	</nav>
</div> <!-- /header -->
