<div class="header">
	<!-- horizontal navbar that becomes vertical on small screens -->
	<nav class="navbar navbar-expand-sm" id="navbar-header">
		<a class="navbar-brand handwriting" href="/" style="font-size:2em">Meghan Thommes</a>

		<ul class="navbar-nav">
			<!-- About Me -->
			<li class="nav-item">
				<a class="nav-link {{ page.about }}" href="/about-me">About Me</a>
			</li>
			<!-- CV -->
			<li class="nav-item">
				<a class="nav-link {{ page.cv }}" href="/cv">CV</a>
			</li>
			<!-- Projects -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle {{ page.projects }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/projects/dolmn">DOLMN</a>
				</div>
			</li>
			<!-- Contact -->
			<li class="nav-item">
				<a class="nav-link {{ page.contact }}" href="/contact">Contact</a>
			</li>
		</ul>

	</nav>
</div> <!-- /header -->
