<div class="header">
	<!-- horizontal navbar that becomes vertical on small screens -->
	<nav id="navbar-header" class="navbar navbar-expand-sm navbar-light">
		<h1 class="navbar-brand handwriting" href="https://meghanthommes.com">Meghan Thommes</h1>

		<ul class="navbar-nav">
			<!-- About Me -->
			<li class="nav-item">
				<a class="nav-link" href="/about">About Me</a>
			</li>
			<!-- CV -->
			<li class="nav-item">
				<a class="nav-link" href="/cv">CV</a>
			</li>
			<!-- Contact -->
			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			</li>
		</ul>

	</nav>	
</div> <!-- /header -->