<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- social media icons -->
		<link rel="stylesheet" href="css/fontawesome-all.min.css">
	</head>
  
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:meghan.thommes@gmail.com">email</a></li>
        		<li><a href="https://github.com/megthommes">github.com/megthommes</a></li>
			</ul>
		</footer>
	</body>
</html>
