<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- fontawesome icons -->
		<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	</head>
  
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
   		{{ content }}
    
    		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:meghan.thommes@gmail.com" target="_blank" class="fas fa-envelope-square fa-2x"></a></li>
			<li><a href="https://www.linkedin.com/in/meghanthommes/" target="_blank" class="fab fa-linkedin fa-2x"></a></li>
        		<li><a href="https://github.com/megthommes/" target="_blank" class="fab fa-github-square fa-2x"></a></li>
        		<li><a href="https://twitter.com/Meghan_Thommes/" target="_blank" class="fab fa-twitter-square fa-2x"></a></li>
			</ul>
		</footer>
	</body>
</html>
